:root{
  --deep-blue: #002366;
  --hover-deep-blue: #001a99;
  --button-color: #FF9900;
  --white-background-color: #f0f0f0;
  --disabled-gray: #DEDFE4;
  --success-green-background: #32cd32;
  --success-gree-text-color: rgb(20, 80, 20);
  --image-preview-container-background-color: rgb(201, 201, 201);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.login-container,
.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--white-background-color);
}

.login-container h1,
.registration-container h1 {
    color: black;
    font-size: 36px;
    margin-bottom: 10px;
}

.login-container h3,
.registration-container h3 {
    color: black; 
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form,
.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Adjust according to screen size */
    max-width: 400px; /* Set a maximum width for large screens */
}

.login-form a,
.registration-form a{
  color: var(--deep-blue);
  text-decoration: none;
}

.login-form label,
.registration-form label {
    color: black; 
    font-size: 18px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.login-form input,
.registration-form input,
 select {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--deep-blue); /* Dark blue */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure input width includes padding and border */
}

.login-form .error-message,
.registration-form .error-message,
.error-message{
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.login-form button,
.registration-form button {
    width: 100%;
    height: 40px;
    background-color: var(--deep-blue); /* Dark blue */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
    .login-form,
    .registration-form {
        width: 60%; /* Adjust form width for larger screens */
    }
}


/*Navbar*/

.nav-bar {
    background-color: var(--deep-blue);
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-part {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-right: auto;
}
.logo a{
    color: white;
    text-decoration: none;
}

.input-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 60%;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.input-container button, .additional-information button{
    background-color: var(--button-color);
    color: #232f3e;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 15px;
    cursor: pointer;
}

.bottom-part {
    width: 100%;
}

.categories {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 2%;
}

.categories li {
    padding: 10px 0;
}

.categories li:last-child {
    border-bottom: none;
}

.additional-information{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.additional-information a{
    color: white;
    text-decoration: none;
}

.greeting{
    text-align: center;
    max-width: 200px;
    max-height: 200px;
    display: flex;
}

.greeting > div{
    align-self: center;
}

.userImage{
    max-width: 200px;
    max-height: 200px;
}

.fa-shopping-cart{
    font-size: 36px;
}

.shopping-cart{
    display: flex;
    gap: 15%;
}

.shopping-cart p{
    align-self: center;    
}


@media (max-width: 768px) {
    .bottom-part {
        display: block;
    }

    .top-part {
        flex-direction: column;
        align-items: flex-start;
    }

    .input-container {
        width: 100%;
        margin: 10px 0;
    }

    input[type="text"] {
        width: 100%;
    }
}



/*profile services*/
.profile-services{
    display: flex;
    min-height: 100vh;
    padding: 10%;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.service{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 350px;
    width: 350px;
}

.service a{
    color: black;
    text-decoration: none;
}

.service:hover{
    transition: ease-in 0.2s;
    opacity: 0.7;
}

.service:not(:hover){
    transition: ease-in 0.2s;
    opacity: 1;
}


/*Agreement*/
.agreement {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
  
.explanation-text {
    margin-bottom: 10px;
}
  
.agreement ol {
    list-style-type: decimal;
    margin-left: 20px;
}
  
.agreement ol li {
    margin-bottom: 10px;
}
  
.parties {
    font-style: italic;
}

/*Checkbox*/
.agreement-checkbox{
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.checkbox{
    width: 20px;
    height: 20px;
}

/*UserAccountInformation*/

.user-account-information{
    background-color: rgb(212, 210, 210);
    max-width: 300px;
    width: 100%;
    display: flex;
    max-height: 200px;
    height: 7%;
    margin: 2%;
    padding: 10px;
    border-radius: 15px;
}

.user-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ProductUploadForm*/
.product-upload h2{
    text-align: center;
}

.product-details-form-container{
    padding-top: 30px;
}

.submit-button{
    margin-bottom: 30px;
}


.product-details-form-container
.user-update-container {
    max-width: 1000px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 20px;
  }
  

  .product-detail-form{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1000px;
  }
  
  
  .product-detail-form label,
  .product-detail-form input,
  .user-update-form label,
  .user-update-form input,
  .product-detail-form textarea,
  select {
    margin-bottom: 10px;
  }
  
  .product-detail-form input,
  .product-detail-form textarea,
  .user-update-form input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .product-detail-form textarea {
    resize: vertical;
    height: 3%;
  }
  
  @media screen and (min-width: 600px) {
    .product-detail-form
    .user-update-form {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .product-detail-form label 
    .user-update-form label {
      flex: 0 0 30%; /* Adjust label width as needed */
      margin-right: 10px;
      text-align: right;
    }
  
    .product-detail-form input,
    .user-update-form input,
    .product-detail-form textarea,
    select {
      flex: 1;
      margin-right: 0;
    }
  }
  
/*Success message*/
.success-message {
    text-align: center;
    width: 35%;
    background-color: var(--success-green-background);
    color: var(--success-gree-text-color);
    border-radius: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--success-gree-text-color);
    padding: 15px;
  }
  
  @media only screen and (max-width: 600px) {
    .success-message {
      width: 90%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  

/*Submit buttons*/
.submit-button {
    margin-top: 3%;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--deep-blue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .submit-button:hover {
    background-color: var(--button-color);
  }
  
  @media only screen and (max-width: 600px) {
    .submit-button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
/* Select element */
.product-category-form{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 1000px; /* Adjust max-width as needed */
    width: 80%;

}

/* User update page*/
.user-update-form{
    max-width: 1000px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    margin-bottom: 2%;
}

.user-update-form button,
.change-password button{
    background-color: var(--button-color);
    color: #232f3e;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;   
}

.change-password{
    margin-left: 50%;
    transform: translateX(-50%);
}

/*Image preview*/
.uploaded-images-container{
    width: 70%;
    max-height: 600px;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    background-color: var(--image-preview-container-background-color);
    margin-top: 10%;
}

.image-preview-container{
    max-height: 300px;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-preview{
    height: 250px;
    width: 250px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}


.remove-image-preview-icon{
    color: red;
    font-size: 24px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .uploaded-images-container{
        margin-top: 0%;
    }
  }

/*Product-container and product count*/

.product-container{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vh;
}

.product-card{
    max-width: 350px;
    max-height: 385px;
    border: 1px solid black;
    border-radius: 15px;
    max-width: 250px;
    text-align: center;
}

.product-card img{
    max-width: 150px;
    border-radius: 15px;
}

.sub-informations{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-top: 1px solid black;
}

/*Image switching buttons*/
.product-image-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.image-switch-button{
    justify-self: center;
    align-self: center;
    padding: 8px 12px;
    font-size: 14px; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-background-color);
    background-color: var(--hover-deep-blue);
    border: 1px solid var(--hover-deep-blue);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.image-switch-button-disabled{
    justify-self: center;
    align-self: center;
    padding: 8px 12px;
    font-size: 14px; 
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: var(--disabled-gray);
    border: 1px solid var(--disabled-gray);
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

/*404 page not found*/
.not-found-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Item not found*/
.item-not-found-error{
    color: red;
    text-align: center;
}

/*Detail table*/
/* CSS for product-detail-table */
.product-detail-table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid lightgray;
  }
  
  .product-detail-table th,
  .product-detail-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  
  /* Responsive CSS */
  @media only screen and (max-width: 600px) {
    .product-detail-table th,
    .product-detail-table td {
      display: block;
      width: 100%;
    }
    
    .product-detail-table th {
      text-align: center;
    }
  }
  

  /*Item images*/
  .item-image-container {
    margin-left: 50px;
    position: relative;
    width: 100%;
    max-width: 400px; /* adjust max-width to fit your design */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 370px;
  }
  
  .item-image-container img {
    width: 200px;
    height: 250px;
    display: block;
    max-width: 200px;
    max-height: 250px;
    align-self: center;
  }

  .item-image-container > .uploaded-images-container{
    width: 100%;
  }

  .item-image-container > .uploaded-images-container > .product-image{
    padding: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .multiple-image-container img {
      width: calc(33.33% - 8px);
    }
    .item-image-container{
        margin-left: 0px;
    }
  }
  

  /*Item-container*/
  .item-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .item-information-container{
    display: flex;
    width: 40%;
    gap: 5%;
    justify-content: space-around;
  }


  @media only screen and (max-width: 768px) {
    .item-container{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .item-information-container{
        display: flex;
        flex-direction: column;
        padding: 3%;
        margin-bottom: 100px;
        width: 80%;
        text-align: center;
        gap: 30px;
    }

    .item-information-container td{
        text-align: center;
    }
  }

  .multiple-error-container{
    height: 88.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  

